#dance
  .container.pad
    %h1.text-center Let's Dance
    %p.text-center East Side Station every Wednesday: &nbsp 7(ish) until.
    .pad
      %h2 East Side Station is the place to party!
      %p http://www.eastsidestation.com/
      %p Full Bar. Full Kitchen. Full dance floor.
    .pad
      %h2 Heretic
      %p Inside the City
      %p http://www.hereticatlanta.com/thursday.html
      %p Straights Welcome
