#welcome_header
  .container
    %h1.text-center.pad The Lining Starz
    %p.text-center.pad We dance.

#welcome_page_featured_image

#featured_sections
  .container
    .row
      .col-md-4.text-center.pad
        .featured_sections_columns
          %h2 Section 1
          %p The First Section
          .featured_sections_image
            picture goes here
      .col-md-4.text-center.pad
        .featured_sections_columns
          %h2 Section 2
          %p The Second Section
          .featured_sections_image
            picture goes here
      .col-md-4.text-center.pad
        .featured_sections_columns
          %h2 Section 3
          %p The Third Section
          .featured_sections_image
            picture goes here

#welcome_footer
  %p.pad We love to party
